.col.s12.m6.l3
  .card
    .card-image
      span.Precio-card.blue.darken-4 $11,00
      <?php the_post_thumbnail( 'card-thumb' ); ?>
    .card-content
      span.card-title <?php the_title(); ?>
    .card-action
      a.blue-text.text-darken-4(href!="<?php the_permalink() ?>", title!="<?php the_title(); ?>") Ver Mas 