head
  link(href='https://fonts.googleapis.com/css?family=Montserrat|Oleo+Script' rel='stylesheet' type='text/css')
  script(src="https://use.fontawesome.com/90be6d7899.js")

  link(rel='stylesheet', type='text/css' href!="<?php bloginfo('template_url'); ?>/css/web.css")
  meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no")
  meta(charset="utf-8")
  title <?php bloginfo('title'); ?> |  <?php the_title(); ?>
  //-Compiled and minified CSS
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css')