nav.blue.darken-4
  .nav-wrapper.col.s12
    a.brand-logo(href='#!') Weeked Player
    a.button-collapse(href='#', data-activates='mobile-demo')
      i.fa.fa-bars
    ul.right.hide-on-med-and-down
      li
        a(href='/') <i class="fa fa-home"></i> Home
      li
        a(href='http://weekplayer.com/quienes-somos/') <i class="fa fa-users"></i> 多Quienes somos?
      li
        a(href='http://weekplayer.com/como-funciona/') <i class="fa fa-cogs"> </i> 多Como funciona?
      li
        a(href='http://weekplayer.com/producto/') <i class="fa fa-shopping-bag"></i> Producto
      li
        a(href='http://weekplayer.com/contacto/') <i class="fa fa-envelope"></i> Contacto              
    ul#mobile-demo.side-nav
      li
        a(href='/') <i class="fa fa-home"></i> Home
      li
        a(href='http://weekplayer.com/quienes-somos/') <i class="fa fa-users"></i> 多Quienes somos?
      li
        a(href='http://weekplayer.com/como-funciona/') <i class="fa fa-cogs"></i> 多Como funciona?
      li
        a(href='http://weekplayer.com/producto/') <i class="fa fa-shopping-bag"></i> Producto
      li
        a(href='http://weekplayer.com/contacto/') <i class="fa fa-envelope"></i> Contacto