.container
  .divider 
  h3.center-align.Title Buscanos en las Redes Sociales
  .row
    a.col.s6.m3.center-align.Contenedor-redes(href="#", title="Siguenos en Facebook")
      i.col.s12.fa.fa-facebook.Red-facebook
      span.grey-text.text-lighten-1.col.s12 Facebook
    a.col.s6.m3.center-align.Contenedor-redes(href="#", title="Siguenos en Twitter")
      i.col.s12.fa.fa-twitter.Red-twitter
      span.grey-text.text-lighten-1.col.s12 Twitter
    a.col.s6.m3.center-align.Contenedor-redes(href="#", title="Siguenos en Google Plus")
      i.col.s12.fa.fa-google-plus.Red-plus
      span.grey-text.text-lighten-1.col.s12 Google Plus
    a.col.s6.m3.center-align.Contenedor-redes(href="#", title="Siguenos en Instagram")
      i.col.s12.fa.fa-instagram.Red-instagram
      span.grey-text.text-lighten-1.col.s12 Instagram   