ul.collapsible(data-collapsible='accordion')
  li
    .collapsible-header
      i.fa.fa-minus-square.blue-text.text-darken-4
      | Autos
    .collapsible-body.collection
      a.collection-item.blue-text.text-darken-4(href="http://weekplayer.com/autos/") Autos
  li
    .collapsible-header
      i.fa.fa-minus-square.blue-text.text-darken-4
      | Efectivo
    .collapsible-body.collection
      a.collection-item.blue-text.text-darken-4(href="http://weekplayer.com/efectivo/") Efectivo
  li
    .collapsible-header
      i.fa.fa-minus-square.blue-text.text-darken-4
      | Paquetes
    .collapsible-body.collection
      a.collection-item.blue-text.text-darken-4(href="http://weekplayer.com/colombia/") Colombia
      a.collection-item.blue-text.text-darken-4(href="http://weekplayer.com/mexico/") Mexico
      a.collection-item.blue-text.text-darken-4(href="http://weekplayer.com/cuba/") Cuba
  li
    .collapsible-header
      i.fa.fa-minus-square.blue-text.text-darken-4
      | Telefonos
    .collapsible-body.collection
      a.collection-item.blue-text.text-darken-4(href="http://weekplayer.com/telefonos/") Telefonos
  li
    .collapsible-header
      i.fa.fa-minus-square.blue-text.text-darken-4
      | Televisores
    .collapsible-body.collection
      a.collection-item.blue-text.text-darken-4(href="http://weekplayer.com/lg/") LG
      a.collection-item.blue-text.text-darken-4(href="http://weekplayer.com/panasonic/") Panasonic
      a.collection-item.blue-text.text-darken-4(href="http://weekplayer.com/samsung/") Samsung
      a.collection-item.blue-text.text-darken-4(href="http://weekplayer.com/sony/") Sony