doctype html
html(lang="es")
  include templates/head.jade
  body
    header.row
      include templates/nav.jade
    .grey.lighten-5.Page
      section.row
        .container.Page-content.white.z-depth-1
          .row
            .col.s12
              h2.Title Titulo de la pagina en cuestion
              .divider.Page-title
              .col.s12.m7.l8
                p.red-text <strong>EJEMPLO DE CONTENIDO</strong>
                p.flow-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi quaerat maxime soluta ducimus officia a nobis. Eaque, voluptate, iure. Esse cupiditate deserunt tempora, consequatur perferendis. Neque quia perferendis ducimus, consequatur.
                p.flow-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi quaerat maxime soluta ducimus officia a nobis. Eaque, voluptate, iure. Esse cupiditate deserunt tempora, consequatur perferendis. Neque quia perferendis ducimus, consequatur.
                p.flow-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi quaerat maxime soluta ducimus officia a nobis. Eaque, voluptate, iure. Esse cupiditate deserunt tempora, consequatur perferendis. Neque quia perferendis ducimus, consequatur.
                p.flow-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi quaerat maxime soluta ducimus officia a nobis. Eaque, voluptate, iure. Esse cupiditate deserunt tempora, consequatur perferendis. Neque quia perferendis ducimus, consequatur.
                p.flow-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi quaerat maxime soluta ducimus officia a nobis. Eaque, voluptate, iure. Esse cupiditate deserunt tempora, consequatur perferendis. Neque quia perferendis ducimus, consequatur.
                p.flow-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi quaerat maxime soluta ducimus officia a nobis. Eaque, voluptate, iure. Esse cupiditate deserunt tempora, consequatur perferendis. Neque quia perferendis ducimus, consequatur.
                p.flow-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi quaerat maxime soluta ducimus officia a nobis. Eaque, voluptate, iure. Esse cupiditate deserunt tempora, consequatur perferendis. Neque quia perferendis ducimus, consequatur.
                p.flow-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi quaerat maxime soluta ducimus officia a nobis. Eaque, voluptate, iure. Esse cupiditate deserunt tempora, consequatur perferendis. Neque quia perferendis ducimus, consequatur.
              h4 Subastas
              .divider.Page-title                
              .col.s12.m5.l4.Sider.grey.lighten-4
                a.Sider-link.row(href="#")
                  .col.s5
                    img(style="width:100%;", src='http://weekplayer.com/wp-content/themes/week/img/2nd_left_5.jpg')
                  .col.s7
                    h5.grey-text.darken-4.card-title Card Title
                    span.right-align.Sider-span Ver Mas
                a.Sider-link.row(href="#")
                  .col.s5
                    img(style="width:100%;", src='http://weekplayer.com/wp-content/themes/week/img/2nd_left_5.jpg')
                  .col.s7
                    h5.grey-text.darken-4.card-title Card Title
                    span.right-align.Sider-span Ver Mas
                a.Sider-link.row(href="#")
                  .col.s5
                    img(style="width:100%;", src='http://weekplayer.com/wp-content/themes/week/img/2nd_left_5.jpg')
                  .col.s7
                    h5.grey-text.darken-4.card-title Card Title
                    span.right-align.Sider-span Ver Mas
                a.Sider-link.row(href="#")
                  .col.s5
                    img(style="width:100%;", src='http://weekplayer.com/wp-content/themes/week/img/2nd_left_5.jpg')
                  .col.s7
                    h5.grey-text.darken-4.card-title Card Title
                    span.right-align.Sider-span Ver Mas
      include templates/footer.jade
    //-Compiled and minified JavaScript
    script(src='https://code.jquery.com/jquery-2.2.3.min.js', integrity='sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=', crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js')
    script(src='js/weeked.js')