doctype html
html(lang="es")
  include templates/head.jade
  body.blue.darken-2
    header
    .Login
      .Login-content.white.z-depth-4
        h3.Login-title.center-align Login
        .divider
        .row
          .col.s12.Login-form
          // inicio codigo
          p Daniel Aceved
          // termino codigo
    //-Compiled and minified JavaScript
    script(src='https://code.jquery.com/jquery-2.2.3.min.js', integrity='sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=', crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js')
    script(src='js/weeked.js')