nav.blue.darken-4
  .nav-wrapper.col.s12
    a.brand-logo(href='#!') Weeked Player
    a.button-collapse(href='#', data-activates='mobile-demo')
      i.fa.fa-bars
    ul.right.hide-on-med-and-down
      li
        a(href='sass.html') Home
      li
        a(href='badges.html') 多Quienes somos?
      li
        a(href='collapsible.html') 多Como funciona?
      li
        a(href='mobile.html') Producto
      li
        a(href='mobile.html') Contacto              
    ul#mobile-demo.side-nav
      li
        a(href='sass.html') Home
      li
        a(href='badges.html') 多Quienes somos?
      li
        a(href='collapsible.html') 多Como funciona?
      li
        a(href='mobile.html') Producto
                      li
        a(href='mobile.html') Contacto